JWT_SECRET=
JWT_ACCESS_DURATION=
JWT_REFRESH_DURATION=
PASS_TOKEN_DURATION=

INTERNAL_SECRET=

FRONTEND_URL=

POSTGRES_USER=
POSTGRES_PASS=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

DB_AUTH_NAME=
DB_USER_NAME=
DB_CHAT_NAME=

PORT_AUTH=
PORT_USER=
PORT_CHAT=
PORT_GATEWAY=

REDIS_ADDR=
RABBITMQ_ADDR=

EMAIL_USERNAME=
EMAIL_PASSWORD=
